.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #41729f;
    border-right-width: 1px;
    z-index: 1;
}

.ant-input-affix-wrapper {
    box-shadow: none !important;
}

body > div:nth-child(3) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-footer > button.ant-btn.ant-btn-primary {
    background-color: #41729f;
    border: 1px solid transparent;
}

body > div:nth-child(3) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-footer > button.ant-btn.ant-btn-default {
    border: 1px solid #41729f;
}

body > div:nth-child(3) > div > div.ant-modal-wrap > div > div.ant-modal-content > div.ant-modal-footer > button.ant-btn.ant-btn-default:hover {
    color: #41729f;
}

.ant-input::selection {
    background-color: #8CC0DE;
}