@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout-font {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
}

.file-explorer-header {
  font-size: 24px;
  color: #919397;
}

.site-layout .site-layout-background {
  background: #fff;
}

/* html body {
  background-color: aqua;
} */

/* [data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
} */

.ant-layout-sider-children {
  background-color: #21252b;
}

.ant-layout-sider-trigger {
  background-color: #282c34;
}

/* .ant-menu-item .ant-menu-item-only-child .ant-menu-item-selected .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-item .ant-menu .ant-menu-dark .ant-menu-root .ant-menu-inline .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: #282C34;

} */

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  .ant-menu-submenu-title {
  background-color: #282c34;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #282c34;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #41729f;
}

.ant-layout-footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

li.ant-menu-submenu > div > span {
  font-size: 12px !important;
  font-weight: bold !important;
}

li.ant-menu-item {
  font-size: 12px !important;
}

/* li.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open > div {
  padding-left: 10px !important;
} */

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 0px solid #f0f0f0 !important;
  content: '';
}

.ant-tabs-dropdown-menu {
  background-color: #21252b;
  font-family: inherit;
  font-weight: 600;
}
.ant-dropdown-menu-item {
  color: whitesmoke;
}
.ant-dropdown-menu-item:hover {
  background-color: #21252b;
}

.ant-btn > span {
  vertical-align: top !important;
}

.ant-btn > svg {
  vertical-align: top !important;
  margin-top: -2px;
  margin-left: 10px;
}

.ant-btn:hover {
  border-color: #41729f;
  color: #41729f
}

#root > section > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(3):hover {
  fill: #41729f;
}

#root > section > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > svg:nth-child(1):hover {
  fill: #41729f
} 

/* svg:not(:root) {
  margin-left: 10px;
  margin-bottom: -5px;
} */
.ant-layout.ant-layout-has-sider > .ant-layout {
  background-color: #282c34;
}

.language-dropdown {
  background-color: #282c34;
  color: whitesmoke;
}
