/* #welcome-logo {
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    vertical-align: middle;
} */

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}