.token.operator {
  background: none;
}

.scroller {
  user-select: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -moz-user-select: none !important;
}

.scroller::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.scroller:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.editor-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-color: transparent;
}

.editor {
  counter-reset: line;
  border: 1px solid #282c34;
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editorLineNumber {
  position: absolute;
  left: 0px;
  color: #495162;
  text-align: right;
  width: 40px;
}

#text-editor {
  background-color: #282c34 !important;
  color: white;
  position: relative;
}
