


.token.operator {
    background: none;
}

.editor {
    counter-reset: line;
    border: 1px solid #282C34;
}

.editor #codeArea {
    outline: none;
    padding-left: 60px !important;
}

.editor pre {
    padding-left: 60px !important;
}

.editorLineNumber {
    position: absolute;
    left: 0px;
    color: #495162;
    text-align: right;
    width: 40px;
    font-weight: 100;
}

#text-editor {
    background-color: #282C34 !important;
    color: white;
    position: relative;
}

